
html, body {
    background: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
  }
  
  .pad {
    width: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: all .3s;
    margin-left: auto;
    margin-right: auto;
  }
  
  .box {
     width: 150px;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 3px;
      border-radius: 5%;
      border-style: double;
      transition: all .3s;
  }
  
  .active {
    background-color: darken(#444, 10%);
    transform: scale(1.1);
    transition: all .2s;
  }
  
  .pad-1, .pad-2, .pad-3 { 
     background: linear-gradient(to bottom,#688fda, #1e60e5); 
  }
  
  .pad-4, .pad-5, .pad-6,.pad-7  { 
   background-image: linear-gradient(to bottom,#fa3993,#dc0f9b);
  }
  
  .pad-8,.pad-9  { 
    background: linear-gradient(to bottom, #e8ad18, #eb7922);
  }
  
  .box:hover{
    transform: scale(1.04);
  }

  .box:active{
    transform: scale(0.9);
  }

  
   i {
    font-size: 80px;
    color:#ffffff;
    margin: 10px;
  }

  #play, i, #mix {
    transition:all 500ms; 
  }

  #play:hover, i:hover, #mix:hover {
    transform: scale(1.10);
  }

  #play:active, i:active, #mix:active {
    transform: scale(0.8);
  }

  
  /* i{
    color:aliceblue
  } */
  /* My brain is currently mash to understand the concept here, why does the color not change ?? Am ....I ...✨stupid✨ヽ(*。>Д<)o゜〒▽〒

  
  /* B E M E R K U N G

  - Die gewählte Farbe 'aliceblue', die vorrher ausgewählt war, macht keinen offensichtlichen Unterschied zu purem 'Weiß', da es ein sehr heller Farbton ist. Sieht dann so aus, als ob es immer noch weiß wäre. Wenn du die Farbe bspw. in rot, blau oder gelb änderst, solltest du den Unterschied sofort sehen können. 
  Falls sich noch nichts ändert, verbinde deinen Live Server neu - kann manchmal auch ein Problem sein :)
  

  */

